.centralizar-texto {
  text-align: center;
}
.form-check{
  position: relative;
  margin-right: 8px;

}
hr{
  border-top: 2px solid rgb(0, 0, 0);}


.row {
  display: flex;
  flex-wrap:wrap;
  align-items:end;
  margin: auto;
  justify-content: space-between;
  
}

.form-group {
  padding: 16px;
  box-sizing: border-box;

}

.col-sm-12 {
  flex: 0 0 100%;
}

.col-md-4 {
  flex: 0 0 33.3333%;
}

.form-control-label {
  display: block;
  margin-bottom: 8px;
}



.form-control {
  width: 100%;
}
#mini{
  width:60px

}




select  {
  color: bbb8b8;
}
#colapse{
  width: 100%;
  background-color: #bbb8b8;
}
#colapse:hover{
  box-shadow: -1px 3px 8px   rgb(73, 75, 75);

}
h5
{color:black;
  text-decoration: none;
}
.btn-light{
  width: 100%;
  background-color: #bbb8b8;
  /* border-radius: 8px;
  background: #bbb8b8;
  text-align: center;
  align-items: center; */

}

.btn-light:hover{
  width: 100%;
  background-color: #bbb8b8;
  box-shadow: -1px 3px 8px   rgb(73, 75, 75);
  /* border-radius: 8px;
  background: #bbb8b8;
  text-align: center;
  align-items: center; */

}
.btn-primary , .btn-secondary
{
  margin-bottom: 90px;
}
