<div class="containercustom">
  <h2 class="centralizar-texto">Painel de Configuração</h2>

  <form
  [formGroup]="this.formulario"
    (ngSubmit)="this.submeterForm()"
    novalidate
    [ngClass]="{ submitted: this.formSubmetido }">


<section>

  <div class="row">
    <h5>Configurações De Cadastro</h5>
      <hr class="form-group col-sm-12 col-md-12" />
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio"
        >Idade mínima permitida para cadastro </label
        >
        <input
        type="number"
        class="form-control"
        placeholder="Preencha a idade minima permitida"
        formControlName="idadeMinimaCadastro"
        />
      </div>

      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Idade máxima permitida para cadastro</label>
        <input
          type="number"
          class="form-control"
          placeholder="Preencha a idade máxima permitida"
          formControlName="idadeMaximaCadastro"
          />
        </div>
<div class="container-fluid">

  <div class="form-check form">
    <input
    class="form-check-input"
    type="checkbox"
    value=true
    formControlName="homologacaoDireta"
    checked
    />
    <label class="form-check" for="flexCheckChecked"> Homologação direta </label>

  </div>

        </div>
      </div>
    </section>





<section>

  <h5>Configurações De Produto</h5>
  <hr class="form-group col-sm-12 col-md-12 col-lg-12" />
<div id=linha class="row">
  <div id="produto" class="form-group col-sm-12 col-md-12 col-lg-3">
    <label class="form-control-label label-obrigatorio"
    >Porcentagem de desconto para pagamentos à vista: desconto oferecido para pagamentos integrais no momento da compra, incentivando essa modalidade de pagamento.</label
    >
    <input
    type="number"
    class="form-control"
    placeholder="digite o valor do desconto em % aplicado em pagamento a vista"
    formControlName="descontoPagamentoVista"
    />
    
  </div>
  <br>
  <div id="produto" class="form-group col-sm-12 col-md-12 col-lg-3">
    <label class="form-control-label label-obrigatorio"
    >Porcentagem desejada para o lucro sobre as peças: usado para calcular o preço de venda, garantindo uma margem de lucro adequada.</label
    >
    <input
    type="number"
    class="form-control"
    placeholder="digite o valor em % para a margem de lucro para a peças"
    formControlName="margemPecas"

    />

  </div>
  <br>
  <div id="produto" class="form-group col-sm-12 col-md-12 col-lg-3">
    <label class="form-control-label label-obrigatorio"
    >Valor por hora do serviço prestado: utilizado para calcular o custo total com base no tempo gasto, garantindo uma compensação justa.</label
   > <input
    type="text"
    class="form-control"
    placeholder="digite o valor em % para a margem de lucro para a peças"
    formControlName="maoDeObra"
    [value]="this.formulario?.get('maoDeObra').value | moneyFormat"
    />

  </div>
  <br>

</div>








</section>



<div class="form-group col-sm-12 action-buttons">
  <hr class="form-group col-sm-12 col-md-12" />
  <a
    class="btn btn-secondary float-left"
    [routerLink]="['/usuario/dashboard']"
    queryParamsHandling="preserve"
    >Voltar</a
  >




  <button type="submit" class="btn btn-primary float-right">
    Salvar
  </button>
</div>
  </form>
</div>

