.centralizar-texto {
  text-align: center;
}
.form-check{
  position: relative;
  margin-right: 8px;

}
hr{
  border-top: 2px solid rgb(0, 0, 0);}
section{margin-top: 40px;}

.form-check-input{

margin-right: none;
}
#linha {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.col-sm-12 {
  flex: 0 0 100%;
}

.col-md-4 {
  flex: 0 0 33.3333%;
}

.form-control-label {
  display: block;
  margin-bottom: 8px;
}



.form-control {
  width: 100%;
}


